<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Listado de Clientes</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
        <link rel="stylesheet" th:href="@{/turnos/listado.css}">
    </head>
    <body>
        <h1>Listado de Clientes</h1>

        <table id="listado">
            <thead>
                <tr>
                    <th>DNI</th>
                    <th>Apellido</th>
                    <th>Nombre</th>
                    <th>Fecha y Hora</th>
                    <th>Clinica(s)</th>
                    <th>Sector</th>
                    <th>R3</th>
                    <th>R1</th>
                    <th>C</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="turno : ${turnos}">
                    <td th:text="${turno.dni}">DNI</td>
                    <td th:text="${turno.apellido}">Apellido</td>
                    <td th:text="${turno.nombre}">Nombre</td>
                    <td th:text="${turno.dia} + ' ' + ${turno.hora}">Dia Y Hora</td>
                    <td th:text="${turno.clinica}">Clinica</td>
                    <td th:text="${turno.sector}">Sector</td>
                    <td th:text="${turno.recordaTresDias == null ? '' : (#strings.toLowerCase(turno.recordaTresDias) == 'ok' ? '✅' : '📞')}">R3</td>
                    <td th:text="${turno.recordaUnDia == null ? '' : (#strings.toLowerCase(turno.recordaUnDia) == 'ok' ? '✅' : '📞')}">R1</td>
                    <td th:text="${turno.confirmacion == null ? '' : (#strings.toLowerCase(turno.confirmacion) == 'ok' ? '✅' : '📞')}">C</td>
                </tr>
            </tbody>
        </table>
        <a href="/">
            <img src="https://img.icons8.com/ios-filled/50/000000/home.png" alt="Home" class="home-icon" title="Volver a Inicio">
        </a>

        <script th:src="@{/turnos/listado.js}"></script>
    </body>
</html>

