<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Formulario de Historia Clínica</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/historia-clinica/formulario.css}">
    </head>
    <body>
        <h1>Formulario de Historia Clínica</h1>
        <form th:action="@{/historia-clinica}" th:object="${historiaClinica}" method="post">

            <label for="dni">DNI:</label>
            <input type="text" id="dni" th:field="*{dni}" required/>

            <label for="fecha">Fecha Accidente:</label>
            <input type="date" id="fecha" th:field="*{fecha}" required/>

            <div>
                <h3>Registros</h3>
                <button type="button" onclick="agregarRegistro()">Añadir Registro</button>
                <div id="registrosContainer" data-index="0">
                    <!-- Registros dinámicos se añadirán aquí -->
                </div>
            </div>

            <button type="submit">Guardar</button>
        </form>

        <!-- Template para opciones de Código Parte -->
        <template id="comboParteTemplate">
            <option th:each="opcion : ${opcionesParte}" th:value="${opcion.codigo}" th:text="${opcion.descripcion}"></option>
        </template>

        <!-- Template para opciones de Código Ubicación -->
        <template id="comboUbicacionTemplate">
            <option th:each="opcion : ${opcionesUbicacion}" th:value="${opcion.codigo}" th:text="${opcion.descripcion}"></option>
        </template>
        <a href="/">
            <img src="https://img.icons8.com/ios-filled/50/000000/home.png" alt="Home" class="home-icon" title="Volver a Inicio">
        </a>

        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}"></p>
        </div>
        
        <script th:src="@{/historia-clinica/formulario.js}"></script>
    </body>
</html>
