/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 3 jun 2025, 4:51:57 p. m.
    Author     : ROCAMBOLER529
*/

.contenedor {
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.container {
    margin-top: 20px;
}
.col-md-6 {
    padding: 10px;
}
.table {
    margin-top: 20px;
}