<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Formulario de Cliente</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" th:href="@{/clientes/formulario.css}">
    </head>
    <body>


        <div class="container">
            <div class="row">
                <!-- Panel Izquierdo: Información del Cliente -->
                <div class="col-md-6">
                    <h1>Registrar Cliente</h1>
                    <form th:action="@{/clientes/guardar}" th:object="${cliente}" method="post">
                        <div>
                            <label for="dni">DNI:</label>
                            <input type="text" id="dni" th:field="*{dni}" placeholder="Ingrese el DNI" required />
                            <button type="button" onclick="verificarDni()">Buscar</button>
                            <div id="loadingIndicator" class="spinner" style="display: none;"></div>
                        </div>
                        <div>
                            <label for="apellido">Apellido:</label>
                            <input type="text" id="apellido" th:field="*{apellido}" placeholder="Ingrese el apellido" required  />
                        </div>
                        <div>
                            <label for="nombre">Nombre:</label>
                            <input type="text" id="nombre" th:field="*{nombre}" placeholder="Ingrese el nombre"  />
                        </div>
                        <div>
                            <label for="telefono">Telefono:</label>
                            <input type="number" id="telefono" th:field="*{telefono}" placeholder="Ingrese el telefono"/>
                        </div>
                        <div>
                            <label for="centro">Medico:</label>
                            <input type="text" id="centro" th:field="*{centro}" placeholder="Ingrese Centro Medico"  />
                        </div>

                        <div>
                            <label for="compania">Companias Seguro:</label>
                            <input type="text" id="companias" th:field="*{companias}" placeholder="Ingrese Compañias" 
                                   style="width: 300px; height: 40px; font-size: 16px; padding: 8px;" />
                        </div>

                        <div>
                            <button type="submit" onclick="" id="submitButton" >Guardar</button>
                        </div>
                        <div>
                            <button type="button" onclick="limpiarFormulario()">Limpiar</button>
                        </div>
                    </form>
                </div>

                <!-- Panel Derecho: Lista de Procesos -->
                <div class="col-12">
                    <div id="processList" >
                        <h3>Procesos:</h3>
                        <table id="processTable" class="table table-bordered" >
                            <thead>
                                <tr>
                                    <th style="width: 200px;">Fecha Accidente</th>
                                    <th style="width: 200px;">Hist. C</th>
                                    <th style="width: 200px;">Demanda</th>
                                    <th style="width: 200px;">Estudio</th>
                                    <th style="width: 200px;">Pericia</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Las filas se generarán dinámicamente -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <a href="/">
            <img src="https://img.icons8.com/ios-filled/50/000000/home.png" alt="Home" class="home-icon" title="Volver a Inicio">
        </a>
        
        <script th:src="@{/clientes/formulario.js}"></script>
    </body>
</html>
