<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Principal</title>
    <link rel="stylesheet" th:href="@{/index.css}">
</head>
<body>

    <!-- Encabezado -->
    <header>
        <h1>Bienvenido a Nuestro Sitio</h1>
        <p>Explora nuestras opciones para gestionar tus contactos y eventos.</p>
               <h12 th:text="'Hola, ' ">Hola, Thymeleaf!</h2>
    </header>
    
       <!-- Enlaces de navegación -->
    <div class="nav-links">
        <a th:href="@{/clientes/formulario}">Clientes</button>
        <a th:href="@{/clientes/listado}">Listar Clientes</button>
        <a th:href="@{/historia-clinica/nuevo}">Historias Clínicas</a>
        <a th:href="@{/demanda/nuevo}">Demandas</a>
        <a th:href="@{/estudiosperito/nuevo}">Estudios Perito</a>
        <a th:href="@{/pericia/nuevo}">Pericia</a>
        <a th:href="@{/turnos/nuevo}">Turnos</a>
        <a th:href="@{/turnos/listado}">Listar Turnos</a>
    </div>

    <!-- Icono de Home -->
    <img src="https://img.icons8.com/ios-filled/50/000000/home.png" alt="Home" class="home-icon">

</body>
</html>
